:root {
  --color-primary: white;
  --color-secondary: blue;
  --color-bakground-primary: gray;
  --color-bakground-secondary: white;
  --color-orange: orange;
  --color-black: black;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif,
    var(--system-ui);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 180px 4fr;
  height: 100vh;
}

/****************************************************************/
/*header*/
/****************************************************************/
.header {
  background-color: white;
  grid-column: 2/-1;
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 20px;
  margin: 10px 25px 10px 50px;
}

.header-up {
  display: grid;
  grid-template-columns: 40px 6fr 40px 100px max-content;
}

.search-icon {
  background: none;
  border: none;
  justify-self: flex-start;
  align-self: center;
  cursor: pointer;
  grid-column: 1/2;
  padding: 0px;
}

.search-input {
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 15px;
  justify-self: flex-start;
  align-self: center;
  grid-column: 2/3;
  width: 80%;
  height: 30px;
}

.bell-icon {
  background: none;
  border: none;
  justify-self: flex-end;
  align-self: center;
  cursor: pointer;
  grid-column: 3/4;
}

.icon-logo {
  height: 60px;
  width: 60px;
  justify-self: center;
  align-self: center;
  grid-column: 4/5;
  cursor: pointer;
}

.header-up > h4 {
  grid-column: 5/6;
  cursor: pointer;
}

.header-bottom {
  display: grid;
  grid-template-columns: 80px 5fr 1fr 1fr 1fr;
  gap: 18px;
}

.icon-logo-2 {
  height: 80px;
  width: 80px;
  justify-self: flex-start;
  align-self: center;
  grid-column: 1/2;
}

.hello {
  align-self: center;
}

.hello > p {
  font-size: 14px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 10px;
}

.hello > h3 {
  font-weight: 800;
  margin: 0px;
}

.header-bottom > button {
  border: none;
  border-radius: 15px;
  background-color: #0284c7;
  color: white;
  width: 100px;
  padding: 10px 0px;
  justify-self: flex-end;
  align-self: center;
  cursor: pointer;
}
/****************************************************************/
/*Sidebar*/
/****************************************************************/
.sidebar {
  background-color: #0284c7;
  grid-column: 1/2;
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 50px;
  padding: 25px;
}

.sidebar-name {
  font-size: 22px;
  font-weight: 600;
}

.sidebar-name > a > img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.sidebar > div > a {
  color: white;
  text-decoration: none;
  display: grid;
  grid-template-columns: 46px 1fr;
  align-items: center;
}

.nav-options {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 25px;
  font-size: 18px;
  font-weight: 600;
}

.nav-options > a > img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  justify-self: center;
}

.nav-general {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 25px;
  font-size: 18px;
  font-weight: 600;
}

.nav-general > a > img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  justify-self: center;
}

/****************************************************************/
/*content*/
/****************************************************************/
.content {
  grid-column: 2/-1;
  grid-row: 2/-1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 30px 25px 50px 15px;
  background-color: rgb(214, 214, 214);
  gap: 20px;
}

.projects {
  display: grid;
  grid-template-rows: 30px auto;
}

.section-title {
  font-weight: 600;
  margin: 0px;
}

.card_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: flex-start;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: min-content min-content auto;
  border: none;
  border-left: 10px solid orange;
  border-radius: 10px;
  background-color: white;
  padding: 30px 25px 25px 25px;
}

.card_title {
  margin: 0px;
  font-weight: 800;
}

.card > p {
  margin: 0px;
  margin-top: 5px;
  color: #8a8a8a;
  font-size: 18px;
}

.icons {
  justify-self: flex-end;
  align-self: flex-end;
}

.fav-icon,
.visibility-icon,
.shara-icon {
  background: none;
  border: none;
  cursor: pointer;
}

/****************************************************************/
/*conte-right*/
/****************************************************************/
.right-sidebar {
  grid-column: 2/-1;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.annoucement {
  display: grid;
  grid-template-rows: 30px auto;
  margin-bottom: 35px;
  grid-row: 1/2;
}

.annoucement-list {
  display: grid;
  justify-content: flex-start;
  gap: 20px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.annoucement-item {
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 0 5px 20px 5px;
  align-self: center;
}

.annoucement-item:last-child {
  border: 0px;
  padding: 0 5px 0px 5px;
}

.annoucement-title {
  font-weight: 800;
  margin: 0px;
}

.annoucement-item > p {
  font-size: 12px;
  margin: 0px;
  margin-top: 5px;
  color: #8a8a8a;
}

.trending {
  display: grid;
  grid-template-rows: 30px auto;
  grid-row: 2/3;
}

.trending-list {
  display: grid;
  gap: 15px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.trending-item {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content min-content;
  column-gap: 15px;
  align-self: center;
}

.icon-trending {
  height: 60px;
  width: 60px;
  align-self: center;
  grid-column: 1/2;
  grid-row: 1/3;
  cursor: pointer;
}

.trending-title {
  font-weight: 600;
  margin: 0px;
  align-self: flex-end;
  grid-column: 2/3;
  grid-row: 1/2;
}

.trending-item > p {
  font-size: 12px;
  margin: 0px;
  margin-top: 5px;
  grid-column: 2/3;
  grid-row: 2/3;
  color: #8a8a8a;
}
